* {
    box-sizing: border-box;
}

body {
    background-color: rgba(144, 172, 210, 0.895);
    font-family: "Segoe UI", Arial, sans-serif;
}

.widget-container {
    background-color: rgb(34, 42, 105);
    width: 36rem;
    margin: 10rem auto 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.widget {
    color: rgb(255, 242, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget.right {
    display: flex;
    align-items: center;
    
}

.date {
    font-size: 2rem;
}

.time {
    font-size: 6rem;
    margin-left: -.6rem;
}

.temperature {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.description {
    font-size: 1.8rem;
    margin-bottom: .9rem;
    text-align: center;
}

.small-text {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.feels-like {
    margin-top: .5rem;
    margin-bottom: .2rem;
}

.refresh {
    margin-bottom: .5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refresh i {
    width: 8rem;
    color: antiquewhite; 
    transition: color 0.3s ease;
}

.refresh i:active {
  color: gray;
}